
@{
    ViewData["Title"] = "Galleries";
}


 PAGE TITLE 
<div class="eskimo-page-title">
    <h1><span>Galleries</span></h1>
    <p class="eskimo-page-subtitle">You can create beautiful responsive galleries in minutes...</p>
</div>

<h2>Two Column</h2>
<p>Dolore commodo ea excepteur, do irure praetermissum aut enim proident aut laboris, an lorem irure irure commodo. Iudicem culpa litteris ad enim eu mandaremus. Nostrud quis ne excepteur praetermissum.</p>
<!-- IMAGE GALLERY -->
<div class="eskimo-masonry-grid eskimo-gallery">
    <div class="eskimo-two-columns" data-columns>
        <!-- GALLERY ITEM 1 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
        <!-- GALLERY ITEM 2 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
    </div>
</div>
<!-- DIVIDER -->
<hr />
<h2>Three Column</h2>
<p>Possumus e aute sed se litteris in aliquip, a tamen quem qui pariatur ex pariatur nam nulla possumus, magna do nostrud non quid qui cernantur eram aliqua e illum labore proident consequat.</p>
<!-- IMAGE GALLERY -->
<div class="eskimo-masonry-grid eskimo-gallery">
    <div class="eskimo-three-columns" data-columns>
        <!-- GALLERY ITEM 1 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
        <!-- GALLERY ITEM 2 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
        <!-- GALLERY ITEM 3 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
        <!-- GALLERY ITEM 4 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
        <!-- GALLERY ITEM 5 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
        <!-- GALLERY ITEM 6 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
    </div>
</div>
<!-- DIVIDER -->
<hr />
<h2>Four Column</h2>
<p>Possumus e aute sed se litteris in aliquip, a tamen quem qui pariatur ex pariatur nam nulla possumus, magna do nostrud non quid qui cernantur eram aliqua e illum labore proident consequat.</p>
<!-- IMAGE GALLERY -->
<div class="eskimo-masonry-grid eskimo-gallery">
    <div class="eskimo-four-columns" data-columns>
        <!-- GALLERY ITEM 1 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
        <!-- GALLERY ITEM 2 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
        <!-- GALLERY ITEM 3 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
        <!-- GALLERY ITEM 4 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
        <!-- GALLERY ITEM 5 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
        <!-- GALLERY ITEM 6 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
        <!-- GALLERY ITEM 7 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
        <!-- GALLERY ITEM 8 -->
        <div class="eskimo-gallery-item">
            <a href="#" data-featherlight="~/images/1400x1000.png" class="eskimo-lightbox">
                <img src="~/images/900x600.png" alt="" />
            </a>
        </div>
    </div>
</div>
<p class="no-margin">Possumus e aute sed se litteris in aliquip, a tamen quem qui pariatur ex pariatur nam nulla possumus, magna do nostrud non quid qui cernantur eram aliqua e illum labore proident consequat.</p>
